body {
  font-family: "Genova";
  width: 100%;
}
header {
  background: #051227ef;
  right: 100px;
}
.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.logoImg {
  width: 250px;
  right: 130px;
  padding-top: 15px;
}
nav {
  position: absolute;
  top: 50px;
  right: 20px;
}

ul > li {
  display: inline;
  margin-left: 20px;
}
li > a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

li > a:hover {
  color: #12c1d8;
  text-decoration: underline;
}

.sectionUm {
  position: relative;
  background: #6b9aa3d2;
  padding: 20px;
  padding-bottom: 400px;
}

.tituloSession {
  margin-bottom: 120px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.textoBio {
  display: relative;
  position: absolute;
  margin-top: 20px;
  padding-left: 5em;
  padding-bottom: 30px;
  width: 50%;
  font-size: 25px;
}

.imgUniversitario {
  width: 20%;
  position: absolute;
  transform: translateY(0px);
  animation: float 4s ease-in-out infinite;
  right: 100px;
  top: 65px;
}

.sectionDois {
  width: 100%;
  background: #307b85;
  padding-bottom: 50px;
}
.tituloQuartos {
  top: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.produtos {
  display: inline-block;
  width: 300px;
  height: 325px;
  margin-left: 26px;
  margin-top: 10px;
  padding: 70px;
  background: seashell;
  border-radius: 5px;
  border: 2px solid #307b85;
}
.enderecos {
  padding-top: 20px;
  border-top: 2px solid #000000;
}

address {
  font-size: 15px;
}
.quartos {
  width: 300px;
  height: 240px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  margin-bottom: 20px;
}
.legenda {
  font-size: 20px;
  font-weight: bold;
  font-family: "sans-serif";
  text-align: center;
  padding-top: 15px;
}
.btnQuartos {
  font-weight: bold;
  width: 200px;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  background: #2a8eaf98;
  padding: 6px;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.btnQuartos:hover {
  background: #b7e4f3b0;
}

.btnQuartos:active {
  top: 5px;
}

.produtos:hover {
  border-color: #ffffff;
  background: #6b9aa3d2;
}

.produtos:active {
  border-color: #072025b7;
  background: #5c9ba7b7;
}

.quartos:hover {
  width: 310px;
  height: 242px;
}
.sectionTres {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background: #6b9aa3d2;
  padding-bottom: 900px;
}

.tituloFaleConosco {
  top: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

form {
  display: relative;
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: #b5ccd498;
  border-radius: 5px;
}

form label,
form legend {
  display: flex;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px;
  width: 50%;
}

.checkbox {
  margin: 25px 0;
}

.enviar {
  font-weight: bold;
  font-size: 15px;
  background: #2a8eaf98;
  padding: 14px;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.enviar:hover {
  background: #20576979;
}

.enviar:active {
  position: relative;
  top: 5px;
}

.resposta {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.limpar {
  color: #000000;
  padding: 10px;
  text-align: center;
  background-color: crimson;
}
.containerFooter {
  line-height: 50px;
  height: 85px;
  background: #051227ef;
  padding: 20px;
}

.logoImgFooter {
  width: 200px;
  height: 100px;
}

footer ul {
  float: right;
  display: table;
}

footer ul li {
  display: table-cell;
  vertical-align: middle;
  padding: 12px;
}

footer ul li:hover {
  color: #6b9aa3d2;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 768px) {
  nav {
    position: static;
  }

  .sectionUm {
    padding-bottom: 480px;
  }
  .imgUniversitario {
    display: none;
  }

  .textoBio {
    font-size: 20px;
    text-align: center;
    left: 0;
  }
  .produtos {
    margin-left: 43px;
    position: relative;
    width: 146.5px;
    height: 105px;
  }
  .quartos {
    position: absolute;
    width: 150px;
    height: 120px;
  }
  .enderecos {
    border: none;
  }
  .legenda,
  address {
    display: none;
  }

  .btnQuartos {
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: 115px;
    margin-left: 25px;
  }
  .btnQuartos:hover {
    background: #b7e4f3b0;
  }

  .btnQuartos:active {
    display: none;
  }

  .produtos:hover {
    border-color: #ffffff;
    background: #6b9aa3d2;
  }

  .produtos:active {
    border-color: #072025b7;
    background: #5c9ba7b7;
  }

  .quartos:hover {
    width: 152px;
    height: 122px;
  }

  .containerFooter {
    padding-bottom: 120px;
  }

  .containerFooter ul li i {
    display: absolute;
    padding: 2px;
    width: 2px;
    font-size: 20px;
    margin-left: 15px;
  }
}
